.RData

.Rhistory

.Rproj.user/874C4F98/pcs/files-pane.pper

*.pper

.Rproj.user/874C4F98/sdb/per/t/73954CEA

.Rproj.user/874C4F98/sdb/per/t/E67C34DA

.Rproj.user/874C4F98/sdb/prop/16FDC04A

.Rproj.user/874C4F98/sdb/prop/F9328E7C

.Rproj.user/874C4F98/sdb/prop/INDEX
.Rproj.user
